OLD
OLD_photography
OLD_photography2
OLD_website
html5up-parallelism.zip
OLD
elements.html
generic.html
larger
LICENSE
photography/crit/README.txt
photography/crit/LICENSE.txt
FARM/farm_presentation.pptx
